/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  /* fonts related */
  --ff-primary: "Raleway", sans-serif;

  --fw-400: 400;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  /* 16px */
  font-size: 1.6em;
  font-weight: var(--fw-400);
  font-family: var(--ff-primary);

  /* ??? */
  /* min-height: 100vh; */
}

img {
  max-width: 100%;
  display: block;
}

article {
  /* border: 1px solid red; */
}

/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* ----------- ----------- ----------- mobile first approach ----------- ----------- ----------- */

body {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg-mobile.png");
  background-size: cover;
  /* background-position: center, center; */
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "features-component"
    "storage-component"
    "data-left-to-use";
  gap: 2rem;
}

/* Component 1 - Mobile */

.features-component {
  background-color: hsl(228, 56%, 26%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "features-component__company-logo"
    "feature-icons";
  gap: 3rem;
  width: 330px;
  height: 180px;
  margin: 14rem auto 0 auto;
  padding: 40px;
  border-radius: 10px;
  border-top-right-radius: 90px 90px;
}

.feature-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "feature-icons__document feature-icons__folder feature-icons__upload";
  width: 215px;
}

.feature-icons > img {
  border: 1px solid black;
  background-color: black;
  border-radius: 10px;
  height: 52px;
  width: 52px;
}

.feature-icons__document {
  padding: 12px;
}

.feature-icons__folder {
  padding: 13px;
}

.feature-icons__upload {
  padding: 15px 12px;
}

/* Component 2 - Mobile */

.storage-component {
  background-color: hsl(228, 56%, 26%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "storage-component__data-used"
    "progress"
    "storage-component-data-range";
  height: 200px;
  width: 330px;
  padding: 2rem 0;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  border-radius: 1.5rem;
}

.storage-component__data-used {
  margin-bottom: -20px;
  color: hsl(243, 100%, 93%);
}

.storage-component__data-used > span {
  font-weight: bold;
}

.storage-component-data-range {
  display: flex;
  flex-direction: row;
  width: 280px;
  justify-content: space-between;
  margin-top: -50px;
  font-size: 12px;
  color: hsl(243, 100%, 93%);
}

progress {
  width: 90%;
  display: block; /* default: inline-block */
  padding: 3px;
  border: 0 none;
  background: rgb(215, 211, 211);
  border-radius: 14px;
}

progress::-moz-progress-bar {
  border-radius: 12px;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  border-radius: 12px;

  background: radial-gradient(4px at 98%, white, white 4px, transparent),
    linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

/* Component 3 - Mobile */

.data-left-to-use {
  width: 150px;
  text-align: center;
  margin: -60px auto 0 auto;
  padding: 1rem 0;
  font-size: 4rem;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
}

.data-left-to-use > span {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: normal;
  color: hsl(229, 7%, 55%);
}

/* ----------- ----------- ----------- desktop second approach ----------- ----------- ----------- */
@media screen and (min-width: 480px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 150px;
    grid-template-areas:
      "features-component data-left-to-use"
      "features-component storage-component";
    margin: 25rem auto;
    width: 700px;
    height: 100px;
    justify-items: end;
    background-color: hsl(229, 57%, 11%);
    background-image: url("../images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: 50% 195%;
  }

  /* Component 1 - Desktop */
  .features-component {
    margin: 0;
    padding: 40px 40px 20px 40px;
    height: 190px;
    width: 340px;
    gap: 2rem;
    margin-top: 3.9rem;
  }

  /* Component 2 - Desktop */
  .storage-component {
    height: 150px;
    width: 550px;
    border-radius: 10px;
  }

  .storage-component__data-used {
    font-size: 1.1rem;
    justify-self: start;
    padding-left: 25px;
  }

  .storage-component-data-range {
    margin-top: -30px;
    padding-left: 25px;
    justify-self: start;
    width: 425px;
  }

  /* Component 3 - Desktop */
  .data-left-to-use {
    margin: 0;
    padding: 0;
    margin-right: 20px;
    height: 60px;
    /* border: 1px solid red; */
    position: relative;
    margin-top: 30px;
  }

  .data-left-to-use > span::after {
    /* border: 1px solid red; */
    content: "";
    position: absolute;
    top: 100%;
    left: calc(93% - 10px);
    background: white;
    width: 40px;
    height: 20px;
    border-bottom-right-radius: 0;

    /* The points are: (left top: x y, right top: x y, center bottom: x y) */
    clip-path: polygon(0 0, 50% 0, 50% 100%);
  }
}
/* ----------- ----------- ----------- grid area names ----------- ----------- ----------- */

/* Component 1 grid areas */

.features-component {
  grid-area: features-component;
}

.features-component__company-logo {
  grid-area: features-component__company-logo;
}

.feature-icons {
  grid-area: feature-icons;
}

.feature-icons__document {
  grid-area: feature-icons__document;
}

.feature-icons__folder {
  grid-area: feature-icons__folder;
}

.feature-icons__upload {
  grid-area: feature-icons__upload;
}

/* Component 2 grid areas */

.storage-component {
  grid-area: storage-component;
}

.data-left-to-use {
  grid-area: data-left-to-use;
}

.storage-component__data-used {
  grid-area: storage-component__data-used;
}

.storage-component-data-range {
  grid-area: storage-component-data-range;
}

.storage-component-data-range__start {
  grid-area: storage-component-data-range__start;
}

.storage-component-data-range__finish {
  grid-area: storage-component-data-range__finish;
}

progress {
  grid-area: progress;
}
